/* Colors, fonts and text */
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
body {
    background-color:white;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: #21418f;
    text-align: center;
    font-size: 40px;
}
p {
    color: #21418f;
    text-align: center;
}

/* Navigation bar */
.topnav a {
    float: left;
    color: #21418f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    color: #21418f;
    text-decoration: underline;
}
.topnav a.active {
    color: #21418f;
    text-decoration: underline;
}
.topnav-right {
    float: right;
}

/* Center logo */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Adjust logo size */
img {
    width: 110px;
    height: 110px;
    object-fit: contain;
}

/* Toppscore: Display "Nasjonalt" and "Klubb" side by side */
.nasjonalt, .klubb {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

.SeniorM, .JuniorAG, .JuniorBG {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

.SeniorK, .JuniorAJ, .JuniorBJ {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

.bevegelighet, .liggendeRoing, .knebøy {
    display: inline-block;
    font-size: 25px;
    padding: 30px;
}

.klasse, .testPeriode, .utøver {
    display: inline-block;
    font-size: 25px;
    padding: 30px;
}

.høyde, .vekt, .toppscore {
    display: inline-block;
    font-size: 25px;
    padding: 30px;
}