/* Colors, fonts and text */
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
body {
    background-color:white;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: #21418f;
    text-align: center;
    font-size: 40px;
}
p {
    color: #21418f;
    text-align: center;
}

table, th, td {
    color: #21418f;
    text-align: center;
    border: 1px #21418f;
}

th, td {
    padding: 5px;
    text-align: left;
}

/* Navigation bar */
.topnav a {
    float: left;
    color: #21418f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    color: #21418f;
    text-decoration: underline;
}
.topnav a.active {
    color: #21418f;
    text-decoration: underline;
}
.topnav-right {
    float: right;
}

.nasjklubb a:hover {
    text-align: center;
    color: #21418f;
    text-decoration: underline;
}

.nasjklubb a:active {
    text-align: center;
    color: #21418f;
    text-decoration: underline;
}

/* Toppscore: Display "Nasjonalt" and "Klubb" side by side */
.nasjklubb a{
    text-align: center;
    display: inline-block;
    float: none;
    font-size: 15px;
    padding: 10px;
}

/* Center logo */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Adjust logo size */
img {
    width: 110px;
    height: 110px;
    object-fit: contain;
}

.SeniorM, .JuniorAG, .JuniorBG {
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    margin: 30px;
    color: #21418f;
}

.table1, .table2, .table3 {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: #21418f;
}

.SeniorK, .JuniorAJ, .JuniorBJ {
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    margin: 30px;
    color: #21418f;
}

.table4, .table5, .table6 {
    display: inline-block;
    border: 1px;
    border-color: #21418f;
    font-size: 20px;
    padding: 10px;
    color: #21418f;
}
.t1, t2 {
    border: 1px;
    border-color: #21418f;
}

.bevegelighet, .liggendeRoing, .knebøy {
    display: inline-block;

    font-size: 25px;
    padding: 30px;
=======
    font-size: 20px;
    padding: 10px;
>>>>>>> 93126f50a0f33f4a453bdf921c12d0fddf76036e
    color: #21418f;
}

.klasse, .testPeriode, .utøver {
    display: inline-block;

    font-size: 25px;
    padding: 30px;
=======
    font-size: 20px;
    padding: 10px;
>>>>>>> 93126f50a0f33f4a453bdf921c12d0fddf76036e
    color: #21418f;
}

.høyde, .vekt, .toppscore {
    display: inline-block;

    font-size: 25px;
    padding: 30px;
    color: #21418f;

=======
    font-size: 20px;
    padding: 10px;
    color: #21418f;
}

.fornavn, .etternavn {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: #21418f;

}

.klasse, .øvelse {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: #21418f;
}

.årstall, .testperiode {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: #21418f;
>>>>>>> 93126f50a0f33f4a453bdf921c12d0fddf76036e
}